@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "dm sans";
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#SearchBox{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: red;
}
#SearchBox h1{
    font-size: 40px;
}
#SearchBox input{
    width: 300px;
    margin: 30px;
    padding: 20px;
}
#SearchBox button{
    width: 200px;
    font-size: 20px;
    padding: 7px 27px;
}